.logo a span {
    font-size: 1.5rem;
}

.swall-confirm-button {
    color: #dc3545 !important;
}

td.highlight {
    background-color: #ebebeb !important;
}

tfoot.input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}